@import "tailwindcss";

html, body, #root {
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F0EBE1;
}

.custom-scroll::-webkit-scrollbar {
  cursor: pointer;
  height: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #9FDC26;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #7bbf1e;
}
